*.npz
*.npz
*.h5
src/utils/plots/*.png
notebooks/eval/absorption_map_model_no_Unet_2.png
notebooks/eval/absorption_map_model_no_Unet_10.png
notebooks/eval/absorption_map_model_no_Unet_25.png
notebooks/eval/absorption_map_model_no_Unet_50.png
notebooks/eval/absorption_map_model_no_Unet_100.png
notebooks/eval/absorption_map_model_no_Unet_150.png
notebooks/eval/absorption_map_model_no_Unet_200.png
notebooks/eval/absorption_map_model_no_Unet_250.png
notebooks/eval/absorption_map_model_no_Unet_300.png
notebooks/eval/absorption_map_model_no_Unet_400.png
notebooks/eval/absorption_map_model_no_Unet_500.png
notebooks/eval/absorption_map_model_Unet_2.png
notebooks/eval/absorption_map_model_Unet_10.png
notebooks/eval/absorption_map_model_Unet_25.png
notebooks/eval/absorption_map_model_Unet_50.png
notebooks/eval/absorption_map_model_Unet_100.png
notebooks/eval/absorption_map_model_Unet_150.png
notebooks/eval/absorption_map_model_Unet_200.png
notebooks/eval/absorption_map_model_Unet_250.png
notebooks/eval/absorption_map_model_Unet_300.png
notebooks/eval/absorption_map_model_Unet_400.png
notebooks/eval/absorption_map_model_Unet_500.png
notebooks/eval/absorption_map_preprocessed.png
notebooks/eval/full_scan_model_no_Unet_2.png
notebooks/eval/full_scan_model_no_Unet_10.png
notebooks/eval/full_scan_model_no_Unet_25.png
notebooks/eval/full_scan_model_no_Unet_50.png
notebooks/eval/full_scan_model_no_Unet_100.png
notebooks/eval/full_scan_model_no_Unet_150.png
notebooks/eval/full_scan_model_no_Unet_200.png
notebooks/eval/full_scan_model_no_Unet_250.png
notebooks/eval/full_scan_model_no_Unet_300.png
notebooks/eval/full_scan_model_no_Unet_400.png
notebooks/eval/full_scan_model_no_Unet_500.png
notebooks/eval/full_scan_model_Unet_2.png
notebooks/eval/full_scan_model_Unet_10.png
notebooks/eval/full_scan_model_Unet_25.png
notebooks/eval/full_scan_model_Unet_50.png
notebooks/eval/full_scan_model_Unet_100.png
notebooks/eval/full_scan_model_Unet_150.png
notebooks/eval/full_scan_model_Unet_200.png
notebooks/eval/full_scan_model_Unet_250.png
notebooks/eval/full_scan_model_Unet_300.png
notebooks/eval/full_scan_model_Unet_400.png
notebooks/eval/full_scan_model_Unet_500.png
notebooks/eval/full_scan_preprocessed.png
notebooks/eval/segment_map_model_no_Unet_2.png
notebooks/eval/segment_map_model_no_Unet_10.png
notebooks/eval/segment_map_model_no_Unet_25.png
notebooks/eval/segment_map_model_no_Unet_50.png
notebooks/eval/segment_map_model_no_Unet_100.png
notebooks/eval/segment_map_model_no_Unet_150.png
notebooks/eval/segment_map_model_no_Unet_200.png
notebooks/eval/segment_map_model_no_Unet_250.png
notebooks/eval/segment_map_model_no_Unet_300.png
notebooks/eval/segment_map_model_no_Unet_400.png
notebooks/eval/segment_map_model_no_Unet_500.png
notebooks/eval/segment_map_model_Unet_2.png
notebooks/eval/segment_map_model_Unet_10.png
notebooks/eval/segment_map_model_Unet_25.png
notebooks/eval/segment_map_model_Unet_50.png
notebooks/eval/segment_map_model_Unet_100.png
notebooks/eval/segment_map_model_Unet_150.png
notebooks/eval/segment_map_model_Unet_200.png
notebooks/eval/segment_map_model_Unet_250.png
notebooks/eval/segment_map_model_Unet_300.png
notebooks/eval/segment_map_model_Unet_400.png
notebooks/eval/segment_map_model_Unet_500.png
notebooks/eval/segment_map_preprocessed.png
