*.npz
*.npz
*.h5
src/utils/plots/*.png
notebooks/eval/absorption_map_model_no_Unet_2.png
notebooks/eval/absorption_map_model_no_Unet_10.png
notebooks/eval/absorption_map_model_no_Unet_25.png
notebooks/eval/absorption_map_model_no_Unet_50.png
notebooks/eval/absorption_map_model_no_Unet_100.png
notebooks/eval/absorption_map_model_no_Unet_150.png
notebooks/eval/absorption_map_model_no_Unet_200.png
notebooks/eval/absorption_map_model_no_Unet_250.png
notebooks/eval/absorption_map_model_no_Unet_300.png
notebooks/eval/absorption_map_model_no_Unet_400.png
notebooks/eval/absorption_map_model_no_Unet_500.png
notebooks/eval/absorption_map_model_Unet_2.png
notebooks/eval/absorption_map_model_Unet_10.png
notebooks/eval/absorption_map_model_Unet_25.png
notebooks/eval/absorption_map_model_Unet_50.png
notebooks/eval/absorption_map_model_Unet_100.png
notebooks/eval/absorption_map_model_Unet_150.png
notebooks/eval/absorption_map_model_Unet_200.png
notebooks/eval/absorption_map_model_Unet_250.png
notebooks/eval/absorption_map_model_Unet_300.png
notebooks/eval/absorption_map_model_Unet_400.png
notebooks/eval/absorption_map_model_Unet_500.png
notebooks/eval/absorption_map_preprocessed.png
notebooks/eval/full_scan_model_no_Unet_2.png
notebooks/eval/full_scan_model_no_Unet_10.png
notebooks/eval/full_scan_model_no_Unet_25.png
notebooks/eval/full_scan_model_no_Unet_50.png
notebooks/eval/full_scan_model_no_Unet_100.png
notebooks/eval/full_scan_model_no_Unet_150.png
notebooks/eval/full_scan_model_no_Unet_200.png
notebooks/eval/full_scan_model_no_Unet_250.png
notebooks/eval/full_scan_model_no_Unet_300.png
notebooks/eval/full_scan_model_no_Unet_400.png
notebooks/eval/full_scan_model_no_Unet_500.png
notebooks/eval/full_scan_model_Unet_2.png
notebooks/eval/full_scan_model_Unet_10.png
notebooks/eval/full_scan_model_Unet_25.png
notebooks/eval/full_scan_model_Unet_50.png
notebooks/eval/full_scan_model_Unet_100.png
notebooks/eval/full_scan_model_Unet_150.png
notebooks/eval/full_scan_model_Unet_200.png
notebooks/eval/full_scan_model_Unet_250.png
notebooks/eval/full_scan_model_Unet_300.png
notebooks/eval/full_scan_model_Unet_400.png
notebooks/eval/full_scan_model_Unet_500.png
notebooks/eval/full_scan_preprocessed.png
notebooks/eval/segment_map_model_no_Unet_2.png
notebooks/eval/segment_map_model_no_Unet_10.png
notebooks/eval/segment_map_model_no_Unet_25.png
notebooks/eval/segment_map_model_no_Unet_50.png
notebooks/eval/segment_map_model_no_Unet_100.png
notebooks/eval/segment_map_model_no_Unet_150.png
notebooks/eval/segment_map_model_no_Unet_200.png
notebooks/eval/segment_map_model_no_Unet_250.png
notebooks/eval/segment_map_model_no_Unet_300.png
notebooks/eval/segment_map_model_no_Unet_400.png
notebooks/eval/segment_map_model_no_Unet_500.png
notebooks/eval/segment_map_model_Unet_2.png
notebooks/eval/segment_map_model_Unet_10.png
notebooks/eval/segment_map_model_Unet_25.png
notebooks/eval/segment_map_model_Unet_50.png
notebooks/eval/segment_map_model_Unet_100.png
notebooks/eval/segment_map_model_Unet_150.png
notebooks/eval/segment_map_model_Unet_200.png
notebooks/eval/segment_map_model_Unet_250.png
notebooks/eval/segment_map_model_Unet_300.png
notebooks/eval/segment_map_model_Unet_400.png
notebooks/eval/segment_map_model_Unet_500.png
notebooks/eval/segment_map_preprocessed.png
tests/TEMP/iter1.png
tests/TEMP/iter2.png
tests/TEMP/iter3.png
tests/TEMP/iter4.png
tests/TEMP/iter5.png
tests/TEMP/iter6.png
tests/TEMP/iter7.png
tests/TEMP/iter8.png
tests/TEMP/iter9.png
tests/TEMP/iter10.png
tests/TEMP/iter11.png
tests/TEMP/iter12.png
tests/TEMP/iter13.png
tests/TEMP/iter14.png
tests/TEMP/iter15.png
tests/TEMP/iter16.png
tests/TEMP/iter17.png
tests/TEMP/iter18.png
tests/TEMP/iter19.png
tests/TEMP/iter20.png
tests/TEMP/iter21.png
tests/TEMP/iter22.png
tests/TEMP/iter23.png
tests/TEMP/iter24.png
tests/TEMP/iter25.png
tests/TEMP/iter26.png
tests/TEMP/iter27.png
tests/TEMP/iter28.png
tests/TEMP/iter29.png
tests/TEMP/iter30.png
tests/TEMP/iter31.png
tests/TEMP/iter32.png
tests/TEMP/iter33.png
tests/TEMP/iter34.png
tests/TEMP/iter35.png
tests/TEMP/iter36.png
tests/TEMP/iter37.png
tests/TEMP/iter38.png
tests/TEMP/iter39.png
tests/TEMP/iter40.png
tests/TEMP/iter41.png
tests/TEMP/iter42.png
tests/TEMP/iter43.png
tests/TEMP/iter44.png
tests/TEMP/iter45.png
tests/TEMP/iter46.png
tests/TEMP/iter47.png
tests/TEMP/iter48.png
tests/TEMP/iter49.png
tests/TEMP/iter50.png
tests/TEMP/iter51.png
tests/TEMP/iter52.png
tests/TEMP/iter53.png
tests/TEMP/iter54.png
tests/TEMP/iter55.png
tests/TEMP/iter56.png
tests/TEMP/iter57.png
tests/TEMP/iter58.png
tests/TEMP/iter59.png
tests/TEMP/iter60.png
tests/TEMP/iter61.png
tests/TEMP/iter62.png
tests/TEMP/iter63.png
tests/TEMP/iter64.png
tests/TEMP/iter65.png
tests/TEMP/iter66.png
tests/TEMP/iter67.png
tests/TEMP/iter68.png
tests/TEMP/iter69.png
tests/TEMP/iter70.png
tests/TEMP/iter71.png
tests/TEMP/iter72.png
tests/TEMP/iter73.png
tests/TEMP/iter74.png
tests/TEMP/iter75.png
tests/TEMP/iter76.png
tests/TEMP/iter77.png
tests/TEMP/iter78.png
tests/TEMP/iter79.png
tests/TEMP/iter80.png
tests/TEMP/iter81.png
tests/TEMP/iter82.png
tests/TEMP/iter83.png
tests/TEMP/iter84.png
tests/TEMP/iter85.png
tests/TEMP/iter86.png
tests/TEMP/iter87.png
tests/TEMP/iter88.png
tests/TEMP/iter89.png
tests/TEMP/iter90.png
tests/TEMP/iter91.png
tests/TEMP/iter92.png
tests/TEMP/iter93.png
tests/TEMP/iter94.png
tests/TEMP/iter95.png
tests/TEMP/iter96.png
tests/TEMP/iter97.png
tests/TEMP/iter98.png
tests/TEMP/iter99.png
tests/TEMP/iter100.png
tests/TEMP/iterTEST50.png
